.div1 {	margin: auto;
	width: 500px;
	color: blue;
	border: dashed 15px;
	padding-left: 5px;
}

.div1 h1 {
	color: red;
	text-decoration: underline;
}

.div1 ul {
	color: blue;
	text-align: center;
}

.div2 {
	float: right; 
        width: 450px;
        color: darkgreen;
        border: solid 7px;
	border-radius: 13px;
	border-right-color: lime;
	border-bottom-color: lime;
        padding-left: 5px;
	margin-right: 35px;
}

.div2 h2 {
	color: green;
	text-decoration: underline;
}

.div2 p {
	color: black;
	font-size: 14px;
	text-align: center;
}

.div2 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	padding-bottom: 10px;
}

.div3 {
	float: left;
        width: 300px;
        color: red;
        border: double 2px;
	border-radius: 0px 7px 0px 20px;
        padding-left: 5px;
	margin-left: 35px;	
}

.div3 h2 {
	color: blue;
	text-align: center;
	text-decoration: overline;
}

.div3 p {
	color: black;
	text-align: left;
	font-size: 10px;
}

.div3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
        padding-bottom: 10px;
}
